<table width="610" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 610px;">
   <tbody>
      <tr>
         <td height="58" style="font-size: 1px; line-height: 58px;">
            &nbsp;
            <div style="z-index: 90;"></div>
         </td>
      </tr>
      <tr>
         <td style="font-family: 'Open Sans', Arial, sans-serif; line-height: 1.1; color: #151515; font-size: 36px; font-weight: 800; text-align: center;">
            Welcome Certificate Recipient
         </td>
      </tr>
      <tr>
         <td height="26" style="font-size: 1px; line-height: 26px;">
            &nbsp;
            <div style="z-index: 90;"></div>
         </td>
      </tr>
      <tr>
         <td
            style="color: #151515; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 23px; text-align: left;">
            <p>Welcome to Convibra</p>
            <p><strong>Hi <%=firstName%> <%=lastName%>,</strong></p>
         </td>
      </tr>
      <tr>
         <td
            style="color: #151515; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 23px; text-align: justify;">
            <p>We are glad to inform you have been invited by to Convibra's new and advanced decentralized blockchain certificate application.You are required to join our application by <a href="<%=url%>">click here</a> , it will directly take you to our platform where your email will be verified. Your certificate will be made avaiable in the platform after your convocation ceremony has been completed.
            </p>
            <br>
            <div>
               <strong>Password: <%=rawPassword%></strong>
            </div>
            <br>

            <p>Steps to check your certificate.</p>
            <p>1. Login to platform after email verification.</p>
            <p>2. Navigate to Blockchain info</p>
            <p>3. Download Private Key. Keep your private key saved somewhere very safe. It's important to keep have your private key for any activities on the platform.</p>
            <p>4. Once your convocation ceremony is over, Login again and Navigate to Certificate menu</p>
            <div style="margin-top:20px; font-weight:700;">
               Thanks <br>
               <%=closingText%>
            </div>
         </td>
      </tr>
      <tr>
         <td height="34" style="font-size: 1px; line-height: 34px;">
            <div style="z-index: 90;"></div>
         </td>
      </tr>
   </tbody>
</table>